@import "scss/fonts.scss";

/*
------------------
General Styles
------------------
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*
------------------
Utility Styles
------------------
*/

.text-center {
  text-align: center;
}

/*
------------------
Email Styles
------------------
*/

body.emails {
  background-color: #f8f9fa;
}

.email-container {
  width: 100%;
  padding: 1.25rem;
  margin: 0 auto;
}

.email-wrapper {
  max-width: 37.5rem; /* 600px */
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1);
}

.email-header {
  background-color: #3057D3;
  color: #ffffff;
  text-align: right;
  padding: .5rem 1.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.email-header > * {
  display: inline-block;
  margin-left: .5rem;
}

.email-body {
  padding: 1.25rem;
}

.email-footer {
  text-align: center;
  padding: 1.25rem 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
