@import "../styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@headlessui/tailwindcss;

@layer base {
  input.no-spin-arrow[type='number']::-webkit-outer-spin-button,
  input.no-spin-arrow[type='number']::-webkit-inner-spin-button,
  input.no-spin-arrow[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

.layout-max-w {
  max-width: 96rem; /* "1536px" or "2xl" in tailwind */
}

/* VueRouter active link */
/*.router-link-active,*/
/*.router-link-exact-active {*/
/*    color: #3057d3;*/
/*}*/

/* Define Custom Scrollbar */

/* For Webkit browsers like Chrome, Safari, and newer versions of Edge */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: rgba(148, 163, 184, .6);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(148, 163, 184, .8);
}

.my-custom-scrollbar {
  overflow: auto;
}

.my-custom-scrollbar::-webkit-scrollbar {
  width: 20px;
}

.my-custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 7px solid transparent;
  background-clip: content-box;
  background-color: rgba(100, 116, 139, .7);
}

.my-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  border: 5px solid transparent;
}

.my-custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.my-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 1);
}

.my-custom-scrollbar.my-custom-scrollbar-light::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .8);
}

.my-custom-scrollbar.my-custom-scrollbar-light::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* Firefox */
.my-custom-scrollbar {
  scrollbar-color: rgba(100, 116, 139, .7) transparent;
  scrollbar-width: thin;
}

.my-custom-scrollbar:hover, .my-custom-scrollbar:active {
  scrollbar-color: rgba(100, 116, 139, 1) transparent;
}

.my-custom-scrollbar.my-custom-scrollbar-light {
  scrollbar-color: rgba(255, 255, 255, .8) transparent;
}

.my-custom-scrollbar.my-custom-scrollbar-light:hover,
.my-custom-scrollbar.my-custom-scrollbar-light:active {
  scrollbar-color: rgba(255, 255, 255, 1) transparent;
}

/* FloatingVue */
.v-popper--theme-dropdown .v-popper__arrow-container {
  display: none;
}

.v-popper--theme-tooltip .v-popper__inner {
  background: rgba(51, 65, 85, .9);
  color: #fff;
  border-radius: 6px;
  padding: 7px 12px 6px;
  font-size: 90%;
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  /*border-color: rgba(51, 65, 85, .9);*/
  border-color: transparent;
}

.v-popper__popper.v-popper__popper--show-from .v-popper__wrapper {
  transform: scale(.7);
}

.v-popper__popper.v-popper__popper--show-to .v-popper__wrapper {
  transform: none;
  transition: transform .1s;
}

/* VueToastification */
.Vue-Toastification__toast--default {
  background-color: #fff;
  color: #000;
}

.Vue-Toastification__toast--default .Vue-Toastification__close-button {
  color: #000;
}

.Vue-Toastification__toast--success {
  background-color: #22c55e;
}

.Vue-Toastification__toast--info {
  background-color: #2563eb;
}

.Vue-Toastification__toast--warning {
  background-color: #f59e0b;
}

.Vue-Toastification__toast--error {
  background-color: #F43F5E;
}

.confirmation-toast {
  min-width: 400px;
  padding: 0;
}

.confirmation-toast .Vue-Toastification__icon,
.loading-toast .Vue-Toastification__icon {
  display: none;
}

.loading-toast {
  max-width: 326px;
  background-color: #000;
  color: #fff;
}

@media only screen and (min-width: 600px) {
  @supports not (-moz-appearance: none) {
    .Vue-Toastification__container.top-left .Vue-Toastification__toast--rtl,
    .Vue-Toastification__container.bottom-left .Vue-Toastification__toast--rtl {
      margin-right: auto;
      margin-left: unset;
    }
  }
  @supports not (-moz-appearance: none) {
    .Vue-Toastification__container.top-right .Vue-Toastification__toast--rtl,
    .Vue-Toastification__container.bottom-right .Vue-Toastification__toast--rtl {
      margin-left: auto;
      margin-right: unset;
    }
  }
}

/* ContextMenu */
[dir='rtl'] .mx-context-menu-item .label {
  padding-right: 0;
  padding-left: 16px;
}

[dir='rtl'] .mx-context-menu-item .mx-right-arrow {
  transform: rotateY(180deg);
}

/* Vue3TagsInput */

.v3ti .v3ti-tag .v3ti-remove-tag {
  margin: 0 1px;
  padding: 0 7px 0 5px !important;
}

.v3ti .v3ti-tag .v3ti-remove-tag::before {
  content: "×" !important;
}

.v3ti {
  --tw-ring-inset: inset;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  color: rgb(17 24 39 / var(--tw-text-opacity));
  padding: calc(0.75rem - 6px) 0.75rem;
  border-radius: 0.5rem;
  border: none !important;
}

.v3ti.v3ti--focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(79 70 229 / var(--tw-ring-opacity));
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  border-color: transparent;
}

.v3ti .v3ti-new-tag {
  box-shadow: none;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.v3ti .v3ti-tag {
  background: rgb(79 70 229 / var(--tw-bg-opacity)) !important;
}

/* Vue3PersianDatetimePicker */

.vpd-input-group input {
  padding: 0.75rem 0.75rem 0.75rem 32px;
  border-radius: 0.375rem 0 0 0.375rem;
  line-height: 1.5rem;
}

.vpd-input-group label {
  border-radius: 0 .5rem .5rem 0;
  padding: .5rem .5rem;
}

.vpd-input-group label > svg {
  width: 1rem;
  height: 1rem;
}

.vpd-input-group .vpd-clear-btn {
  font-size: 0;
  line-height: 1.5rem;
  height: 100%;
}

.vpd-input-group .vpd-clear-btn::before {
  content: '×';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 2rem;
}

.vpd-dir-rtl .vpd-next > svg,
.vpd-dir-rtl .vpd-prev > svg {
  margin: 0 auto;
}

.vpd-close-addon {
  font-size: 0;
}

.vpd-close-addon::before {
  content: '×';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-size: 1.25rem;
}

